<template>
  <div class="trivia">
    <div v-if="loadingQuestions">Fetching questions...</div>
    <div>
    <p v-html="questionText"></p>
      <div id="answers">
        <button v-for="ans in this.questionAlternatives" :key="ans" :value="ans" @click="onAnswerClick">{{ans.replaceAll("&#039;","'")}}
        </button>
      </div>
    </div>

    <div v-if="loadingQuestions" id="answerButtons">
      <button @click="onButtonClick" >Start</button>
    </div>

  </div>
</template>

<script>
import {mapActions,mapMutations,mapState} from "vuex";

export default{
  name: 'Trivia',

  methods: {
    ...mapActions(['displayNextQuestion', 'answerQ',"newHighScore"]),
    ...mapMutations(["setAnswer"]),

    onButtonClick() {
      this.displayNextQuestion()
    },
    onAnswerClick(ans) {
      this.setAnswer(ans.target.value.trim())
      this.answerQ()
      if(this.questionIndex==this.questionAmount){
        this.newHighScore()
        this.$router.push('/result')
      }
    },
  },
  computed: {
    ...mapState(['questions', 'questionIndex', 'questionText', 'loadingQuestions','questionAlternatives','answer',"questionAmount"]),
  },
    created(){
    this.displayNextQuestion()
  }
}
</script>

<style scoped>

</style>