<template>
  <div>
    <label>Username: </label>
    <input @input="onUsernameChange" type="text">
    <button @click="onLoginClick">Login</button>
  </div>
</template>

<script>
import {mapActions,mapMutations,mapState} from 'vuex'

export default{
  name: 'Login',
  computed: {
    ...mapState(['error'])
  },
  methods:{
    ...mapActions(['loginUser']), //updaatehighscore
    ...mapMutations(['setUsername','setHighScore']),
    onLoginClick(){
      this.loginUser()
      if(!this.error){
        this.$router.push('/triviaconfig')
      }
    },

    onUsernameChange(event){
      this.setUsername(event.target.value.trim())

    },
  }
}
</script>

<style scoped>

</style>