<template>
  <div class="triviaConfig">
    <h1>{{ this.username }}</h1>
    <select @change="onCategoryChange($event)" name="category" id="category">
      <option value="">Any Category</option>
      <option v-for="cat in this.categories" :key="cat.id" v-bind:value="cat.id">{{cat.name}}</option>
    </select>
    <input @input="onQuestionAmountChange" placeholder="Number of questions" min="1" :max="questionAmountAvaliable" type="number" name="questionAmount" id="questionAmount">
    <select @change="onDifficultyChange($event)" name="difficulty" id="difficulty">
      <option value="">Any Difficulty</option>
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>
    <select @change="onTypeChange($event)" name="type" id="type">
      <option value="">Any Type</option>
      <option value="multiple">Multiple Choice</option>
      <option value="boolean">True/False</option>
    </select>
    <button @click="onStartClick">Submit</button>
  </div>
</template>

<script>
import {mapActions, mapMutations, mapState} from 'vuex' //mapstate
//import TriviaConfig from "@/components/StartScreen/TriviaConfig"

export default{
  name: 'TriviaConfig',

  methods:{
    ...mapActions(['fetchToken','fetchCategories','fetchQuestionAmountAvaliable','fetchQuestions']),
    ...mapMutations(['setToken','setCategories','setCategory','setQuestionAmountAvaliable','setDifficulty','setQuestionAmount','setQuestionType','setQuestions']),
    onCategoryChange(event){
      this.setCategory(event.target.value.trim())
      this.fetchQuestionAmountAvaliable()
    },
    onQuestionAmountChange(event){
      //console.log(event.target.value.trim())
      this.setQuestionAmount(event.target.value.trim())
    },
    onDifficultyChange(event){
      this.setDifficulty(event.target.value.trim())
    },
    onTypeChange(event){
      this.setQuestionType(event.target.value.trim())
    },
    onStartClick() {
      this.fetchQuestions()
      if (!this.error) {
        this.$router.push('/trivia')
      }
    },

  },
  computed: {
    ...mapState(['categories','username',"questionAmountAvaliable"]),
    //...mapGetters(['allCategories']),
  },
  created(){
    this.fetchToken()
    this.fetchCategories()
  }
}
</script>

<style scoped>

</style>