/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
    box-sizing: border-box;
}
*:focus {
    outline: 3px dashed #228bec;
}
html {
    font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding: 0;
}
button {
    margin: 10px;
    width: auto;
    color: darkred;
    background-color: forestgreen;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}
.triviaConfig{
    text-align: center;
    display: grid;
}
.triviaConfig>element{
}

#questions{
    border-style: solid;
}



.trivia{
    display:flex;
    align-items: center;
    justify-content:center;
    height:100vh;
    width:100vh;
}

.green{
    color: lightgreen;
}

.red{
    color:red;
}
.green{
    color: lightgreen;
}

button::-moz-focus-inner {
    border: 0;
}
button,
optgroup,
textarea,
select,
input{
    color: black;
    border-radius: 10px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    /* 1 */
    overflow: visible;
}
input[type="text"] {
    border-radius: 0;
}
body {
    width: 100%;
    max-width: 68rem;
    margin: 0 auto;
    font: 1.6rem/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2020/11/25/17/18/font-5776469_960_720.jpg");
    color: #4d4d4d;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 620px) {
    body {
        font-size: 1.9rem;
        line-height: 1.31579;
    }
}
/*END RESETS*/