<template>
  <div>
    <p id="score" v-html="this.score+'/'+this.questions.length*10"></p>
    <button id="backToStartScreen" @click="onBackClick">Back to start screen</button>
    <button id="replay" @click="onReplayClick">Replay with different questions</button>
    <h3>Questions</h3>
    <div id="questions" v-for="q in this.questions" :key="q.question">
    <p v-html="q.question"></p>
    <div id="answers">

      <p v-for="ans in q.incorrect_answers" :key="ans" :value="ans" v-bind:class='{"green":ans==q.correct_answer,"red":ans==q.answered,}'>{{ans}}</p>
    </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapMutations, mapState} from "vuex";

export default{
  name: 'result',
  methods: {
    ...mapActions(['fetchQuestions']),
    ...mapMutations(["setQuestionIndex"]),

    onReplayClick() {
      this.fetchQuestions()
      this.$router.push('/trivia')
    },
    onBackClick() {
      this.$router.push('/triviaconfig')
    },
  },
  computed: {
    ...mapState(['questions','score','answer']),
  },
  mounted(){
  }
}
</script>

<style scoped>

</style>